In [3]:
import numpy as np
import pandas as pd

In [4]:
car_ev = pd.read_csv("C:/Alabs/Datasets/car_evaluation - 1673683069225.csv")
car_ev

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        5      med    med    good
1724    low    low      5        5      med   high   vgood
1725    low    low      5        5      big    low   unacc
1726    low    low      5        5      big    med    good
1727    low    low      5        5      big   high   vgood

[1728 rows x 7 columns]

In [5]:
car_ev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [6]:
car_ev['outcome'].value_counts()

outcome
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [7]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\kroop\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\kroop\anaconda3\lib\site-packages (from imblearn) (0.11.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kroop\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\kroop\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.13.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\kroop\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\kroop\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kroop\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sklearn.preprocessing import LabelEncoder

In [11]:
features_tb_encoded = car_ev.columns.difference(['doors', 'persons'])
features_tb_encoded

Index(['buying', 'lug_boot', 'maint', 'outcome', 'safety'], dtype='object')

In [13]:
car_ev[features_tb_encoded]

     buying lug_boot  maint outcome safety
0     vhigh    small  vhigh   unacc    low
1     vhigh    small  vhigh   unacc    med
2     vhigh    small  vhigh   unacc   high
3     vhigh      med  vhigh   unacc    low
4     vhigh      med  vhigh   unacc    med
...     ...      ...    ...     ...    ...
1723    low      med    low    good    med
1724    low      med    low   vgood   high
1725    low      big    low   unacc    low
1726    low      big    low    good    med
1727    low      big    low   vgood   high

[1728 rows x 5 columns]

In [15]:
label_enc = LabelEncoder()
car_ev_encoded = car_ev[features_tb_encoded].apply(label_enc.fit_transform)

In [23]:
car_ev_encoded = pd.concat([car_ev_encoded, car_ev[['doors', 'persons']]], axis= 1)
car_ev_encoded

      buying  lug_boot  maint  outcome  safety  doors  persons
0          3         2      3        2       1      2        2
1          3         2      3        2       2      2        2
2          3         2      3        2       0      2        2
3          3         1      3        2       1      2        2
4          3         1      3        2       2      2        2
...      ...       ...    ...      ...     ...    ...      ...
1723       1         1      1        1       2      5        5
1724       1         1      1        3       0      5        5
1725       1         0      1        2       1      5        5
1726       1         0      1        1       2      5        5
1727       1         0      1        3       0      5        5

[1728 rows x 7 columns]

In [24]:
car_ev_encoded['outcome'].value_counts()

outcome
2    1210
0     384
1      69
3      65
Name: count, dtype: int64